<footer class="footer">
  <small>
    <a href="http://google.com/">Update this link to home of study guide</a>
    by Rhody
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>